[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rCGH"]
	path = rCGH
	url = https://github.com/fredcommo/rcgh
	shallow = true
	registered = true
[submodule "nplr"]
	path = nplr
	url = https://github.com/fredcommo/nplr
	shallow = true
	registered = true
